.navigate{
  position: absolute;
  top: 0;
}
#logo {
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

#logo img {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  right: 25px;
  bottom: 8px;
}
